<h1><center>EXPLORACIÓN DE DATOS</center></h1>

In [1]:
#Cargamos Librerias
import pandas as pd
import missingno as msno

<h2>Rentas 240</h2>

In [2]:
df_form240AM = pd.read_excel(r"form 240 AM.xlsx")
df_240 = df_form240AM.dropna(how="all",axis=1)

In [3]:
D240=df_240.copy()
D240=D240[['Año Gravable', 'Número Nit', 'Código Departamento', 'Código Municipio','Código Actividad Económica Principal']] 

Deporte=["5512","5530","5590"]
Lot=["9200"]
licor=["1101","1200","1103"]

Dp240=D240[D240['Código Actividad Económica Principal'].isin(Deporte)]  #Solo 4 registros
# D240[D240['Código Actividad Económica Principal'].isin(Lot)]  #No hay registros
# D240[D240['Código Actividad Económica Principal'].isin(licor)]  #No hay registros

D240['Código Actividad Económica Principal'].unique()

f=D240.groupby("Código Actividad Económica Principal").count()
f.sort_values("Número Nit",ascending=False)  # El que más se repite es Transporte de carga por carretera
 # 4921 :Transporte de pasajeros

,Año Gravable,Número Nit,Código Departamento,Código Municipio
Código Actividad Económica Principal,,,,
4923,305,305,305,305
4921,145,145,145,145
10,138,138,138,138
5611,105,105,105,105
8299,94,94,94,94
...,...,...,...,...
6391,1,1,1,1
6312,1,1,1,1
6311,1,1,1,1
4653,1,1,1,1
4731,1,1,1,1

<h3>Columnas del DataFrame</h3>

**Año Gravable**
<br>
**Número Nit**
<br>
**Código Departamento**
<br>
**Código Municipio**
<br>
**Código Actividad Económica Principal**
<br>
**Total Patrimonio Bruto (55)**
<br>
**RGA IMAS T-Ingresos brutos trabajador cuenta propia (743)**
<br>
**RGA IMAS T-Otros ingresos (744)**
<br>
**RGA IMAS T-Ingresos excluidos de la base (745)**
<br>
**RGA IMAS T-Total ingresos Renta (746)**
<br>
**RGA IMAS T- Devolución rebajas descuentos trabajador cuenta propia (747)**
<br>
**RGA IMAS T-Total ingresos netos (748)**

<h2>110</h2>

In [4]:
df_formato110AM = pd.read_excel(r"formato 110 AM.xlsx")
df_110 = df_formato110AM.dropna(how="all",axis=1)

In [5]:
D110=df_110.copy()
D110=D110[['Año Gravable', 'Número Nit', 'Código Departamento', 'Código Municipio',
       'Código Actividad Económica Principal','Devoluciones Rebajas y Descuentos en Ventas (120)']] 

Deporte=["5512.","5530.","5590."]
Lot=["9200."]
licor=["1101.","1200.","1103."]

D110[D110['Código Actividad Económica Principal'].isin(Deporte)] # 255 registros
LOT=D110[D110['Código Actividad Económica Principal'].isin(Lot)]  # 230 registros
LIC=D110[D110['Código Actividad Económica Principal'].isin(licor)]  # 48 registros

#len(DP["Número Nit"].unique()) #104
#len(LOT["Número Nit"].unique()) #72
#len(LIC["Número Nit"].unique()) #18

g=D110.groupby("Código Actividad Económica Principal").count()
g.sort_values("Número Nit",ascending=False)   #El que más se repite es Actividades de otras asociaciones n.c.p.
     # 6810 = Actividades inmobiliarias realizadas con bienes propios o arrendados

,Año Gravable,Número Nit,Código Departamento,Código Municipio,Devoluciones Rebajas y Descuentos en Ventas (120)
Código Actividad Económica Principal,,,,,
9499.0,11144,11144,11144,11144,11144
6810.0,8172,8172,8172,8172,8172
7110.0,4271,4271,4271,4271,4271
7020.0,4250,4250,4250,4250,4250
4290.0,3147,3147,3147,3147,3147
...,...,...,...,...,...
1640.0,1,1,1,1,1
5155.0,1,1,1,1,1
2391.0,1,1,1,1,1
9231.0,1,1,1,1,1
5141.0,1,1,1,1,1

**Año Gravable**
<br>
**Número Nit**
<br>
**Código Departamento**
<br>
**Código Municipio**
<br>
**Código Actividad Económica Principal**
<br>
**Devoluciones Rebajas y Descuentos en Ventas (120)**
<br>
**Ingresos Brutos no Operacionales (335)**
<br>
**Ingresos brutos de actividades Ordinarias (334)**
<br>
**Ingresos no Constitutivos de Renta (338)**
<br>
**Intereses y Rendimientos Financieros (96)**
<br>
**Total Ingresos Brutos (462)**
<br>
**Total Ingresos Netos (459)**
<br>
**Ingresos financieros (3911)**
<br>
**Dividendos y/o partic rec o capítalizados por soc extr (año 2016 y anteriores) o nac cualquier año (3912)**
<br>
**Dividendos y/o participaciones recibidos decla diferentes soc nacionales, años 2017 y siguientes (3913)**
<br>
**Dividendos y/o participaciones recibidos por Pers Nat sin residencia fiscal (2016 y anteriores) (3914)**
<br>
**Otros ingresos (3915)**
<br>
**Ingr no constitutivos renta dividendos y/o part PersNat sin residencia fiscal (2016 y anteriores) (3916)**

<h2>210</h2>

In [6]:
df_formato210AM = pd.read_excel(r"formato 210 A M.xlsx")
df_210  = df_formato210AM.dropna(how="all",axis=1)

In [7]:
D210=df_210.copy()
D210=D210[['Año Gravable', 'Número Nit', 'Código Departamento', 'Código Municipio','Código Actividad Económica Principal']] 
#D210['Código Actividad Económica Principal'].unique()
#D210["Año Gravable"].unique()  2016 a 2019

#h=D210.groupby("Código Actividad Económica Principal").count()
#h.sort_values("Número Nit",ascending=False)  # El que más se repite es 10: Asalariados
                                              # 0090 : Rentistas de Capital, solo para personas naturales

Deporte=["5512.","5530.","5590."]
Lot=["9200."]
licor=["1101.","1200.","1103."]

Dep210=D210[D210['Código Actividad Económica Principal'].isin(Deporte)]  # 174 registros
Lot210=D210[D210['Código Actividad Económica Principal'].isin(Lot)]  # 70 registros
Lic210=D210[D210['Código Actividad Económica Principal'].isin(licor)]  # 2 registros

print(len(Dep210["Número Nit"].unique()))
print(len(Lot210["Número Nit"].unique()))
print(len(Lic210["Número Nit"].unique()))
print(len(D210["Número Nit"].unique()))

115
49
1
211414

**Año Gravable**
<br>
**Número Nit**
<br>
**Código Departamento**
<br>
**Código Municipio**
<br>
**Código Actividad Económica Principal**
<br>
**Honorarios**
<br>
**Ingresos no Constitutivos de Renta (338)**
<br>
**Intereses y Rendimientos Financieros (96)**
<br>
**Otros Ingresos (Arrendamientos etc.) (97)**
<br>
**Salarios y Demás Pagos Laborales (102)**
<br>
**Ingresos como Empleado (99)**
<br>
**Ingresos Pension jubilación invalidez vejez sobreviviente riesgos laborales (98)**
<br>
**Ingresos Dividendos y Participaciones (94)**
<br>
**Ingresos en el Exterior (84)**
<br>
**Total Ingresos Brutos (462)**
<br>
**Total Ingresos Netos (459)**
<br>
**INCRNGO Dividendos y participaciones (71)**
<br>
**INCRNGO Pagos a terceros (Salud)**
<br>
**educación y alimentación) (73)**
<br>
**INCRNGO Pagos a terceros Alimentación (48)**
<br>
**Otros ingresos INCRNGO no constitutivos de renta ni ganacia ocasional (74)**
<br>
**Total ingresos INCRNGO no constitutivos de renta ni ganacia ocasional (456)**
<br>
**Ingresos brutos por rentas de trabajo (art 103 E.T.) (3994)**
<br>
**Ingresos Obtenidos en el exterior por renta de trabajo (4101)**
<br>
**Ingresos no constitutivos de renta por renta de trabajo (4104)**
<br>
**Ingresos del Exterior por Rentas de Capital (3858)**
<br>
**Total ingresos rentas de capital (3859)**
<br>
**Ingresos no constitutivos de renta por renta de capital (4106)**
<br>
**Ingresos No laborales (3866)**
<br>
**Honorarios diferentes a los de rentas de trabajo (3867)**
<br>
**Ingresos del exterior por rentas no laborales (3868)**
<br>
**Total ingresos rentas no laborales (3869)**
<br>
**Ingresos no constitutivos de renta por renta No laborales (4107)**
<br>
**Ingresos por Pensiones (3852)**

<h2>15. 230</h2>

In [8]:
df_formato230AM = pd.read_excel(r"formato 230 AM.xlsx")
df_230 = df_formato230AM.dropna(how="all",axis=1)

In [9]:
D230=df_230.copy()
D230=D230[['Año Gravable', 'Número Nit', 'Código Departamento', 'Código Municipio','Código Actividad Económica Principal']] 
#D230['Código Actividad Económica Principal'].unique() #316
D230["Año Gravable"].unique()  # solo 2016
len(D230["Número Nit"].unique())  # solo 2016

#s=D230.groupby("Código Actividad Económica Principal").count()
#s.sort_values("Número Nit",ascending=False)  # El que más se repite es 10: Asalariados
                                              # 8621 : Actividades de la práctica médica, sin internación

#Deporte=["5512.","5530.","5590."]
#Lot=["9200."]
#licor=["1101.","1200.","1103."]

#D230[D230['Código Actividad Económica Principal'].isin(Deporte)]  # No hay registros
#D230[D230['Código Actividad Económica Principal'].isin(Lot)]  # No hay registros
#D230[D230['Código Actividad Económica Principal'].isin(licor)]  # No hay registros

32486

**Año Gravable**
<br>
**Número Nit**
<br>
**Código Departamento**
<br>
**Código Municipio**
<br>
**Código Actividad Económica Principal**
<br>
**Total Patrimonio Bruto (55)**
<br>
**RGA IMAS-Ingresos brutos del empleado (724)**
<br>
**RGA IMAS-Otros ingresos (725)**
<br>
**RGA IMAS-Ingresos excluidos base (726)**
<br>
**RGA IMAS-Total ingresos (727)**

<h2>Unión bases de la DIAN</h2>

In [10]:
# Dado que la 230 no tiene registros de CIIU que sean de nuestro interés no se agregará al merge
#Dian1=df_240.set_index(['Año Gravable', 'Número Nit', 'Código Departamento', 'Código Municipio',
#       'Código Actividad Económica Principal']).join(df_110.set_index(['Año Gravable', 'Número Nit', 'Código Departamento', 'Código Municipio',
#       'Código Actividad Económica Principal']))
#DIAN_comp=pd.merge(Dian1, df_210, how="left",left_on=['Año Gravable', 'Número Nit', 'Código Departamento', 'Código Municipio','Código Actividad Económica Principal'], right_on=['Año Gravable', 'Número Nit', 'Código Departamento', 'Código Municipio','Código Actividad Económica Principal'])

In [11]:
D=pd.merge(df_240,df_110,how="outer")
D1=pd.merge(D,df_210,how="outer")
#D1["Número Nit"].value_counts()
D1.groupby(['Código Actividad Económica Principal']).count()

,Año Gravable,Número Nit,Código Departamento,Código Municipio,Total Patrimonio Bruto (55),RGA IMAS T-Ingresos brutos trabajador cuenta propia (743),RGA IMAS T-Otros ingresos (744),RGA IMAS T-Ingresos excluidos de la base (745),RGA IMAS T-Total ingresos Renta (746),RGA IMAS T- Devolución rebajas descuentos trabajador cuenta propia (747),...,Ingresos no constitutivos de renta por renta de trabajo (4104),Ingresos del Exterior por Rentas de Capital (3858),Total ingresos rentas de capital (3859),Ingresos no constitutivos de renta por renta de capital (4106),Ingresos No laborales (3866),Honorarios diferentes a los de rentas de trabajo (3867),Ingresos del exterior por rentas no laborales (3868),Total ingresos rentas no laborales (3869),Ingresos no constitutivos de renta por renta No laborales (4107),Ingresos por Pensiones (3852)
Código Actividad Económica Principal,,,,,,,,,,,,,,,,,,,,,
10.0,152572,152572,152572,152572,138,138,138,138,138,138,...,12,115500,115584,12,12,12,115500,115584,115584,115584
81.0,1413,1413,1413,1413,9,9,9,9,9,9,...,2,884,893,2,2,2,884,893,893,893
82.0,1657,1657,1657,1657,8,8,8,8,8,8,...,0,1201,1202,0,0,0,1201,1202,1202,1202
90.0,36245,36245,36245,36245,70,70,70,70,70,70,...,19,23961,24019,19,19,19,23961,24018,24018,24018
111.0,195,195,195,195,3,3,3,3,3,3,...,0,92,92,0,0,0,92,92,92,92
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9609.0,1533,1533,1533,1533,17,17,17,17,17,17,...,0,998,999,0,0,0,998,999,999,999
9700.0,24,24,24,24,0,0,0,0,0,0,...,0,17,17,0,0,0,17,17,17,17
9810.0,7,7,7,7,0,0,0,0,0,0,...,0,1,1,0,0,0,1,1,1,1
9820.0,7,7,7,7,0,0,0,0,0,0,...,0,2,2,0,0,0,2,2,2,2
9900.0,5,5,5,5,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [12]:
Deporte=["5510", "5512", "5530", "5590"]
Lot=["9200"]
Licor=["1100", "1101", "1102", "1103", 
       "4630", "4631", "4632", "4710", 
       "4711", "4720", "4724", "1200", "5610", "5611", 
       "5612", "5619", "5620", "5621", "5629", "5630"]

D_dep=D1[D1['Código Actividad Económica Principal'].isin(Deporte)]   # 433 registros
D_lot=D1[D1['Código Actividad Económica Principal'].isin(Lot)]      #300 registros
D_lic=D1[D1['Código Actividad Económica Principal'].isin(Licor)]   #10460 registros

print(D_dep.shape)
print(D_lot.shape)
print(D_lic.shape)
D_dep.groupby(["Número Nit","Año Gravable"]).count()

(433, 50)
(300, 50)
(10460, 50)

                         Código Departamento  Código Municipio  \
Número Nit Año Gravable
#&betb:b   2016.0                          1                 1
#((h3eh(   2016.0                          1                 1
           2017.0                          1                 1
#3(3r(:r   2017.0                          1                 1
#e3rB3::   2016.0                          1                 1
...                                      ...               ...
rtth::rh#  2018.0                          1                 1
rttt3(:&r  2017.0                          1                 1
           2018.0                          1                 1
rtttt&:3B  2017.0                          1                 1
rtttt&:3b  2016.0                          1                 1

                         Código Actividad Económica Principal  \
Número Nit Año Gravable
#&betb:b   2016.0                                           1
#((h3eh(   2016.0                                           1
           2017.0                                           1
#3(3r(:r   2017.0                                           1
#e3rB3::   2016.0                                           1
...                                                       ...
rtth::rh#  2018.0                                           1
rttt3(:&r  2017.0                                           1
           2018.0                                           1
rtttt&:3B  2017.0                                           1
rtttt&:3b  2016.0                                           1

                         Total Patrimonio Bruto (55)  \
Número Nit Año Gravable
#&betb:b   2016.0                                  0
#((h3eh(   2016.0                                  0
           2017.0                                  0
#3(3r(:r   2017.0                                  0
#e3rB3::   2016.0                                  0
...                                              ...
rtth::rh#  2018.0                                  0
rttt3(:&r  2017.0                                  0
           2018.0                                  0
rtttt&:3B  2017.0                                  0
rtttt&:3b  2016.0                                  0

                         RGA IMAS T-Ingresos brutos trabajador cuenta propia (743)  \
Número Nit Año Gravable
#&betb:b   2016.0                                                        0
#((h3eh(   2016.0                                                        0
           2017.0                                                        0
#3(3r(:r   2017.0                                                        0
#e3rB3::   2016.0                                                        0
...                                                                    ...
rtth::rh#  2018.0                                                        0
rttt3(:&r  2017.0                                                        0
           2018.0                                                        0
rtttt&:3B  2017.0                                                        0
rtttt&:3b  2016.0                                                        0

                         RGA IMAS T-Otros ingresos (744)  \
Número Nit Año Gravable
#&betb:b   2016.0                                      0
#((h3eh(   2016.0                                      0
           2017.0                                      0
#3(3r(:r   2017.0                                      0
#e3rB3::   2016.0                                      0
...                                                  ...
rtth::rh#  2018.0                                      0
rttt3(:&r  2017.0                                      0
           2018.0                                      0
rtttt&:3B  2017.0                                      0
rtttt&:3b  2016.0                                      0

                         RGA IMAS T-Ingresos excluidos de la base (745)  \
Número Nit Año Gravable
#&betb:b   2016.0                                                     0
#((h3eh(   2016.0                                                     0
           2017.0                                                     0
#3(3r(:r   2017.0                                                     0
#e3rB3::   2016.0                                                     0
...                                                                 ...
rtth::rh#  2018.0                                                     0
rttt3(:&r  2017.0                                                     0
           2018.0                                                     0
rtttt&:3B  2017.0                                                     0
rtttt&:3b  2016.0                                                     0

                         RGA IMAS T-Total ingresos Renta (746)  \
Número Nit Año Gravable
#&betb:b   2016.0                                            0
#((h3eh(   2016.0                                            0
           2017.0                                            0
#3(3r(:r   2017.0                                            0
#e3rB3::   2016.0                                            0
...                                                        ...
rtth::rh#  2018.0                                            0
rttt3(:&r  2017.0                                            0
           2018.0                                            0
rtttt&:3B  2017.0                                            0
rtttt&:3b  2016.0                                            0

                         RGA IMAS T- Devolución rebajas descuentos trabajador cuenta propia (747)  \
Número Nit Año Gravable
#&betb:b   2016.0                                                        0
#((h3eh(   2016.0                                                        0
           2017.0                                                        0
#3(3r(:r   2017.0                                                        0
#e3rB3::   2016.0                                                        0
...                                                                    ...
rtth::rh#  2018.0                                                        0
rttt3(:&r  2017.0                                                        0
           2018.0                                                        0
rtttt&:3B  2017.0                                                        0
rtttt&:3b  2016.0                                                        0

                         RGA IMAS T-Total ingresos netos (748)  ...  \
Número Nit Año Gravable                                         ...
#&betb:b   2016.0                                            0  ...
#((h3eh(   2016.0                                            0  ...
           2017.0                                            0  ...
#3(3r(:r   2017.0                                            0  ...
#e3rB3::   2016.0                                            0  ...
...                                                        ...  ...
rtth::rh#  2018.0                                            0  ...
rttt3(:&r  2017.0                                            0  ...
           2018.0                                            0  ...
rtttt&:3B  2017.0                                            0  ...
rtttt&:3b  2016.0                                            0  ...

                         Ingresos no constitutivos de renta por renta de trabajo (4104)  \
Número Nit Año Gravable
#&betb:b   2016.0                                                        0
#((h3eh(   2016.0                                                        0
           2017.0                                                        0
#3(3r(:r   2017.0                                                        0
#e3rB3::   2016.0                                                        0
...                                                                    ...
rtth::rh#  2018.0                                                        0
rttt3(:&r  2017.0                                                        0
           2018.0                                                        0
rtttt&:3B  2017.0                                                        0
rtttt&:3b  2016.0                                                        0

                         Ingresos del Exterior por Rentas de Capital (3858)  \
Número Nit Año Gravable
#&betb:b   2016.0                                                        0
#((h3eh(   2016.0                                                        0
           2017.0                                                        1
#3(3r(:r   2017.0                                                        1
#e3rB3::   2016.0                                                        0
...                                                                    ...
rtth::rh#  2018.0                                                        1
rttt3(:&r  2017.0                                                        1
           2018.0                                                        1
rtttt&:3B  2017.0                                                        1
rtttt&:3b  2016.0                                                        0

                         Total ingresos rentas de capital (3859)  \
Número Nit Año Gravable
#&betb:b   2016.0                                              0
#((h3eh(   2016.0                                              0
           2017.0                                              1
#3(3r(:r   2017.0                                              1
#e3rB3::   2016.0                                              0
...                                                          ...
rtth::rh#  2018.0                                              1
rttt3(:&r  2017.0                                              1
           2018.0                                              1
rtttt&:3B  2017.0                                              1
rtttt&:3b  2016.0                                              0

                         Ingresos no constitutivos de renta por renta de capital (4106)  \
Número Nit Año Gravable
#&betb:b   2016.0                                                        0
#((h3eh(   2016.0                                                        0
           2017.0                                                        0
#3(3r(:r   2017.0                                                        0
#e3rB3::   2016.0                                                        0
...                                                                    ...
rtth::rh#  2018.0                                                        0
rttt3(:&r  2017.0                                                        0
           2018.0                                                        0
rtttt&:3B  2017.0                                                        0
rtttt&:3b  2016.0                                                        0

                         Ingresos No laborales (3866)  \
Número Nit Año Gravable
#&betb:b   2016.0                                   0
#((h3eh(   2016.0                                   0
           2017.0                                   0
#3(3r(:r   2017.0                                   0
#e3rB3::   2016.0                                   0
...                                               ...
rtth::rh#  2018.0                                   0
rttt3(:&r  2017.0                                   0
           2018.0                                   0
rtttt&:3B  2017.0                                   0
rtttt&:3b  2016.0                                   0

                         Honorarios diferentes a los de rentas de trabajo (3867)  \
Número Nit Año Gravable
#&betb:b   2016.0                                                        0
#((h3eh(   2016.0                                                        0
           2017.0                                                        0
#3(3r(:r   2017.0                                                        0
#e3rB3::   2016.0                                                        0
...                                                                    ...
rtth::rh#  2018.0                                                        0
rttt3(:&r  2017.0                                                        0
           2018.0                                                        0
rtttt&:3B  2017.0                                                        0
rtttt&:3b  2016.0                                                        0

                         Ingresos del exterior por rentas no laborales (3868)  \
Número Nit Año Gravable
#&betb:b   2016.0                                                        0
#((h3eh(   2016.0                                                        0
           2017.0                                                        1
#3(3r(:r   2017.0                                                        1
#e3rB3::   2016.0                                                        0
...                                                                    ...
rtth::rh#  2018.0                                                        1
rttt3(:&r  2017.0                                                        1
           2018.0                                                        1
rtttt&:3B  2017.0                                                        1
rtttt&:3b  2016.0                                                        0

                         Total ingresos rentas no laborales (3869)  \
Número Nit Año Gravable
#&betb:b   2016.0                                                0
#((h3eh(   2016.0                                                0
           2017.0                                                1
#3(3r(:r   2017.0                                                1
#e3rB3::   2016.0                                                0
...                                                            ...
rtth::rh#  2018.0                                                1
rttt3(:&r  2017.0                                                1
           2018.0                                                1
rtttt&:3B  2017.0                                                1
rtttt&:3b  2016.0                                                0

                         Ingresos no constitutivos de renta por renta No laborales (4107)  \
Número Nit Año Gravable
#&betb:b   2016.0                                                        0
#((h3eh(   2016.0                                                        0
           2017.0                                                        1
#3(3r(:r   2017.0                                                        1
#e3rB3::   2016.0                                                        0
...                                                                    ...
rtth::rh#  2018.0                                                        1
rttt3(:&r  2017.0                                                        1
           2018.0                                                        1
rtttt&:3B  2017.0                                                        1
rtttt&:3b  2016.0                                                        0

                         Ingresos por Pensiones (3852)
Número Nit Año Gravable
#&betb:b   2016.0                                    0
#((h3eh(   2016.0                                    0
           2017.0                                    1
#3(3r(:r   2017.0                                    1
#e3rB3::   2016.0                                    0
...                                                ...
rtth::rh#  2018.0                                    1
rttt3(:&r  2017.0                                    1
           2018.0                                    1
rtttt&:3B  2017.0                                    1
rtttt&:3b  2016.0                                    0

[433 rows x 48 columns]

<h2>Filtrado de la base DIAN respecto a los tipos de impuestos</h2>

In [13]:
D1.loc[D1['Código Actividad Económica Principal'].isin(Deporte), 'Actividad_Economica'] = 'Deporte'
D1.loc[D1['Código Actividad Económica Principal'].isin(Licor), 'Actividad_Economica'] = 'Licor'
D1.loc[D1['Código Actividad Económica Principal'].isin(Lot), 'Actividad_Economica'] = 'Loterias'

In [14]:
D2 = pd.concat([D_dep, D_lot, D_lic])

In [15]:
D2.to_csv('Dian_Consolidado.csv', index=False)

In [16]:
DIAN = pd.read_csv('Dian_Consolidado.csv', low_memory=False)
DIAN.head()

,Año Gravable,Número Nit,Código Departamento,Código Municipio,Código Actividad Económica Principal,Total Patrimonio Bruto (55),RGA IMAS T-Ingresos brutos trabajador cuenta propia (743),RGA IMAS T-Otros ingresos (744),RGA IMAS T-Ingresos excluidos de la base (745),RGA IMAS T-Total ingresos Renta (746),...,Ingresos no constitutivos de renta por renta de trabajo (4104),Ingresos del Exterior por Rentas de Capital (3858),Total ingresos rentas de capital (3859),Ingresos no constitutivos de renta por renta de capital (4106),Ingresos No laborales (3866),Honorarios diferentes a los de rentas de trabajo (3867),Ingresos del exterior por rentas no laborales (3868),Total ingresos rentas no laborales (3869),Ingresos no constitutivos de renta por renta No laborales (4107),Ingresos por Pensiones (3852)
0,2016.0,r#h:(3(,76.0,76001.0,5512.0,223270000.0,79500000.0,6000.0,0.0,79506000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2016.0,::3(&re:,76.0,76001.0,5512.0,0.0,104000000.0,0.0,0.0,104000000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2016.0,rb(3h&&t,76.0,76001.0,5512.0,837223000.0,75045000.0,0.0,0.0,75045000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2016.0,:&#3:#r,76.0,76834.0,5512.0,99911000.0,60160000.0,0.0,0.0,60160000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2019.0,ett###:&(,76.0,76001.0,5512.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [17]:
D2.loc[D2['Código Actividad Económica Principal'].isin(Deporte), 'Actividad_Economica'] = 'Deporte'
D2.loc[D2['Código Actividad Económica Principal'].isin(Licor), 'Actividad_Economica'] = 'Licor'
D2.loc[D2['Código Actividad Económica Principal'].isin(Lot), 'Actividad_Economica'] = 'Loterias'

In [18]:
D2.to_csv('Dian_Consolidado.csv', index=False)

In [20]:
DIAN = pd.read_csv('Dian_Consolidado.csv', low_memory=False)
DIAN[ 'Actividad_Economica'].unique()

array(['Deporte', 'Loterias', 'Licor'], dtype=object)